.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-variation-settings: "wdth" 100;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

html,
body {
    height: 100%;
    color: #00252e;
}

*,
html,
body,
h1,
h1,
h1,
h4,
h5,
h6,
p {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.container {
    max-width: 1270px;
    margin-inline: auto;
}

.flx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 741px;
    background-image: url("../images/hero_bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #edfbff;
    padding-block-start: 50px;
    margin-block-end: 50px;
}

header div.logo a {
    text-align: center;
    width: 200px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.1);
}

header h1 {
    width: 536px;
    font-size: 40px;
    line-height: 60px;
}

header section {
    margin-block-end: 72px;
}

.build {
    width: 536px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.build a {
    width: 280px;
    height: 56px;
    flex-shrink: 0;

    border-radius: 28px;
    background: #ff52c1;
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
}

main section {
    height: 440px;
    padding-inline-start: 120px;
    padding-inline-end: 30px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 40px;
}

main section div {
    width: 490px;
}

main section h3 {
    margin-block-end: 16px;
    font-size: 28px;
}

main section p {
    color: #808e9a;
    font-size: 18px;
    line-height: 27px;
}
